aosptree/**
!aosptree/vendor
!aosptree/vendor/bass
!aosptree/vendor/bass/**
aosptree/vendor/bass/branding
aosptree/vendor/bass/addons
aosptree/vendor/bass/tmp
!aosptree/vendor/bass/tmp/build_config
aosptree/vendor/bass/configs/watermark/create_watermark/**
logs/*
manifests/private*.xml
private/manifests/*
private/addons/*
.config
.config/**

scratchpad/

._*
.DS_Store
